@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// variables
$primary-color: #2c3e50;
$secondary-color: #e67e22;


*{
  padding: 0;
  margin:0;
}
body{
  width: 100%;
  background-color: #ecf0f1;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


// ********************************
//         NAVIGATION
// ********************************
.navbar{
  background-color: #fff;
  box-shadow: 0px 0px 5px #ccc;
  .navbar-brand{
    color: $secondary-color;
    font-weight: 600;
  }
  .navbar-nav{
    margin-left: 40px;
  }
  .nav-link{
    text-transform: capitalize;
    color: $primary-color;
    font-weight: 600;
    word-spacing: 1px;
    letter-spacing: 0.3px;
  }
  .navbar-toggler:focus, .navbar-toggler:hover{
    outline: none;
  }
  .navbar-toggler-icon{
     .fa{
       padding-top: 5px;
     }
  }

}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  top: 133%;
  border-radius:0px;
  border-color: #ccc;
  .dropdown-item{
    text-transform: capitalize;
  }
}
#search{
  .form-control:focus{
    border-color: #ccc;
  }
  input{
      &:focus{
        box-shadow: none;
      }
  }
}
#users{
  ul{
   float: left;
    li{
      display: inline-block;
      list-style-type: none;
      i{
        font-size: 20px;
        margin: 15px 15px 0px 22px;
      }
    }
  }
}



// ********************************
//         Carousel
// ********************************

.carousel{
  .carousel-item{
    width: 100%;
    height: 550px;

    img{
      width: 100%;
      height: 100%;
    }
  }
}



// ********************************
//         Deals
// ********************************
.deals{
    margin: 30px 10px;
    box-shadow: 0px 0px 5px #ccc;
    background-color: #fff;
    height: 340px;

    .container{
      border: 1px solid #fff;
      height: 100%;
    }
    @media (min-width: 1200px){
      .container{
        max-width: 1275px !important;
      }
    }
    .row{
      height: 90%;
      margin: 15px 0px;
    }
  .timmer-sec{
    border: 1px solid black;
  }
  .deal-item{
    border: 1px solid black;
    height: 267px;
    img{
      width: 200px;
      height: 200px;
    }
  }
}
